fischer_api/composer.lock
fischer_api/vendor/
fischer_api/propel.yml
fischer_api/generated-conf/
nbproject/
fischer_api/ORM/Base/
fischer_api/ORM/Map/
.env
.vagrant/
/ubuntu-xenial-16.04-cloudimg-console.log
Database_Migrations/
html/react/
html/escalator-app/
html/static/
.history
.idea
/oauth-public.key
/html/js/config.json
.vagrant/machines/default/virtualbox/vagrant_cwd